.Contact-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(170deg,rgb(236, 100, 186) , rgb(162, 226, 162) ,rgb(90, 221, 233),violet);
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.Contact{
    display: flex;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
   border-right: 1px solid white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(9px);
    border-top: 1px solid rgba(255, 255, 255,0.4);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    box-shadow: 5px 3px 3px rgba(75, 115, 160, 0.027);
    opacity: 0.8;
}
.Contact caption{
    font-size: 2em;
    
}
.Contact i{
    height: 25px;
    width: 25px;
}
table{
   
  
    padding: 20px;
    
    
}
td{
    padding: 20px;
   color: rgb(51, 35, 35);
    text-align: center;
    justify-content: center;
}
.Contact-me{
    color: rgb(42, 38, 42);
    display: flex;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 185%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(9px);
    border-top: 1px solid rgba(255, 255, 255,0.4);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    box-shadow: 5px 3px 3px rgba(75, 115, 160, 0.027);
    opacity: 0.8;
    
}
.Contact-me p{
    font-size: 0.8em;
    color: red;
}

.Contact-me input{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    align-items: center;
    font-size: 1em;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}
.Contact-me textarea{
    border: none;
    border-radius: 2px;
    width: 80%;
    height: 100px; 
    resize: none;
    padding: 7px;
}
.Contact-me button{
  background-color: green;
  width: 50%;
  height: 28px;
  border-radius: 4px;
  color: white;
  left: 25px;
}

@media screen and (max-width:769px) {
    .Contact-div{
        display: flex;
        flex-direction: column;

    }
    .Contact{
        border-bottom: 1px solid white;
    }
    .Contact-me{
        color: rgb(42, 38, 42);
        display: flex;
        width: 400px;
        height: 500px;
        align-items: center;
        justify-content: center;
        padding: 30px;
        line-height: 185%;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(9px);
        border-top: 1px solid rgba(255, 255, 255,0.4);
        border-left: 1px solid rgba(255, 255, 255,0.3);
        box-shadow: 5px 3px 3px rgba(75, 115, 160, 0.027);
        opacity: 0.8;
    }
}