.Services{
   

}
#Title{
    color: rgb(154, 94, 94);

}


.example{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d7d8d8;
}
.card{
    position: relative;
    display: flex;
    justify-content: center;
    color: #000;
    max-width: 310px;
    min-width: 250px;
   
    margin: 10px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 10px 10px 15px #7f8080;
}
.card img{
    position: relative;
    vertical-align: top;
    height: 200px;
    max-width: 100%;
    transition: 0.25s ease;
}
.card:hover img{
    transform: scale(1.1);
}
.card figcaption{
    position: absolute;
    padding: 15px 20px 40px;
    bottom: 0;
    z-index: 1;
}
.card figcaption::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg,#b2c4c9,#fff);
    opacity: 0.8;
    z-index: -1;
}
.card h3{
    display: inline-block;
    margin-bottom: 5px;
}
.card p{
    font-size: 0.8em;
    line: height 1.6em;
}
.card a{
    position: absolute;
    bottom: 10px;
    display: inline-block;
    font-size: 0.75em;
    color: #fff;
    background: #413b3b;
    padding: 5px 10px;
    z-index: 1;
}
@media screen and (max-width: 769px){
    .Total-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}